<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" id="log">
        <h1>Login</h1>

            <% if (errorMsg) { %>
                 <div style="background-color:#f8d7da;color:#721c24;padding:10px;margin-bottom:15px;border-radius:5px;">
                       <%= errorMsg %>
                 </div>
             <% } %>

        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>

        <p style="margin-top: 15px;">
            Don't have an account? <a href="/register" class="link">Register here</a>
        </p>
    </div>
</body>
</html>
